<form class="ui inverted stacked segment form" action="/dashboard/addStation" method="POST">
    <div class="field">
        <label>Add new Station name</label>
        <input placeholder="Type here" type="text" name="name">
    </div>
    <div class="field">
        <label>Add latitude</label>
        <input placeholder="Type here" type="number" name="latitude">
    </div>
    <div class="field">
        <label>Add longitude</label>
        <input placeholder="Type here" type="number" name="longitude">
    </div>

    <button class="ui blue submit button">Create New Station</button>
</form>