<span style="display:block; height: 10px;"></span>

<div class="ui list" style="text-align: center">
    <div class="item">
        <div class="content" style="font-size: 25px">
            <i class="users icon"></i>
            WeatherTop Productions
        </div>
    </div>
    <div class="item">
        <div class="content" style="font-size: 20px">
            <i class="marker icon"></i>
            Dublin, IRELAND
        </div>
    </div>
    <div class="item">
        <div class="content" style="font-size: 15px">
            <i class="mail icon"></i>
            <a href="mailto:marge@simpson.com">marge@simpson.com</a>
        </div>
    </div>
    <div class="item">
        <div class="content" style="font-size: 15px">
            <i class="linkify icon"></i>
            <a href="http://www.weathertop.com">weathertop.com</a>
        </div>
    </div>
</div>
<span style="display:block; height: 10px;"></span>