<nav class="ui inverted menu">
    <header class="ui header item"><a href="/"> WeatherTop </a></header>
    <section class="ui inverted top-toolbar segment">
        <h1 class="ui header" style="color: deepskyblue">
            WeatherTop Stations
        </h1>
    </section>
    <div class="right menu" style="font-size: 20px">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
        <a id="about" class="item" href="/about"> About </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>