#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}


<div class="ui inverted segment">
    <img class="ui medium left floated image" src="../../public/images/about_sun.jpg"/>
    <div style="font-size: 20px">
        <h2>Abuot Us</h2>
        <p>Welcome to the WeatherTop Stations! The first weather hub for meteorologists, climatologists, environmental
            scientists and everyone with a keen interest on the weather on our planet!</p>
        <img class="ui right floated image" src="../../public/images/about_meter.png" height="260" width="250"/>
        <p>WeatherTop is the leading provider of weather information and related services in the State. Its mission is
            to monitor,
            analyse and predict Ireland’s weather and climate and to provide a range of high quality meteorological and
            related
            information to the public and to specific customers in, for example, the aviation and agricultural sectors.
            As a scientific and technical organisation, it strives to utilise the latest technological and scientific
            advances
            in order to improve the efficiency, effectiveness and accuracy of its forecasts. </p>
    </div>
</div>

<div class="ui inverted segment">
    <div style="font-size: 20px">
        <h2>Meet The Team</h2>
        <p>If you are as passionate as we about the weather please do not hesitate to contact us. We can help with
            buying and
            using the equimpmet or even having a chat about the oncoming storm!</p>
    </div>
</div>

<div class="ui inverted segment">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="../../public/images/about_homer.png"/>
                </div>
                <div class="content">
                    <a class="header">Homer Simpson</a>
                    <div class="description" style="font-size: 20px">
                        <h3>Homer is the Chief Executive Officer.</h3>
                        <p>The face of the company. Likes Duff beer and donuts.</p>
                    </div>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="date">Works with us since 2013</span>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="email">Email: homer@simpson.com</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="../../public/images/about_frink.png">
                </div>
                <div class="content">
                    <a class="header">Professor Frink</a>
                    <div class="description" style="font-size: 20px">
                        <h3>Frink is the Chief of Science Department.</h3>
                        <p>Managed to create and patent over a hundred new devices to measure and monitor the
                            weather</p>
                    </div>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="date">Works with us since 2010</span>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="email">Email: frink@simpson.com</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="../../public/images/about_marge.jpg">
                </div>
                <div class="content">
                    <a class="header">Marge Simpson</a>
                    <div class="description" style="font-size: 20px">
                        <h3>Marge is the Head of Human Resource Department.</h3>
                        <p>Is available to chat 24/7 about any topic!</p>
                        <p>Brings home made cookies for all the staff.</p>
                    </div>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="date">Works with us since 2010</span>
                </div>
                <div class="meta" style="font-size: 15px">
                    <span class="email">Email: marge@simpson.com</span>
                </div>
            </div>
        </div>
    </div>
</div>
#{footer /}

